       /********** BARRA DE NAVEGACION***********/
nav {
    background-color: rgba(255, 94, 0);
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    height: auto;
    text-align: center;
}

div.name{
    float: left;
    font-family: 'Oxygen', sans-serif;
    font-size: 120%;
    font-weight: bold;
    text-align: left;
}

.menu{
    float: right;
}

.menu li{
    display: inline-block;
    margin-left: 0.5em;
}

li > a{
    color: #ffffff;
    text-align: right;
}

      /********** HEADER BACKGROUND-IMAGE ***********/
header {
    text-align: center;
    background-image: url("../assets/imagenes/background-holanda.jpg");
    background-size: cover;
    color: white;
    height: auto;
}

header > div{
    background-color: rgba(0, 0, 0, 0.4);
}

h1{
    color: rgba(255, 255, 255, 0.781);
    font-family: 'Sura', serif;
    font-size: 300%;
    padding: 1em;
}


    