       /********** BARRA DE NAVEGACION***********/
nav {
    background-color: rgba(255, 94, 0);
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    padding: 1em;
    text-align: center;
}

div.name{
    float: left;
    font-family: 'Oxygen', sans-serif;
    font-size: 120%;
    font-weight: bold;
    text-align: left;
}

.menu{
    float: right;
}

.menu li{
    display: inline-block;
    margin-left: 0.5em;
}

li > a{
    color: #ffffff;
    text-align: right;
    text-decoration: none;
}

li > a:hover{
    background-color: rgb(250, 190, 94);
    border-radius: 5%;
    padding: 0.5em;
}

      /********** HEADER BACKGROUND-IMAGE ***********/
header {
    text-align: center;
    background-image: url("../assets/imagenes/background-holanda.jpg");
    background-size: cover;
    color: white;
    height: auto;
}

header > div{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

h1{
    color: rgba(255, 255, 255, 0.781);
    font-family: 'Sura', serif;
    font-size: 300%;
    padding: 2em 0;
}

        /********** INFORMACION PRINCIPAL ***********/
.main-information{
    text-align: justify;
    padding: 2em 3em;
}

.information{
    padding: 1em 1em;
}

.main-information > .col-3{
    background-color: rgba(255, 136, 0, 0.15);
    border-radius: 5%;
    padding: 2em;
}

.information > h2{
    font-family: 'Sura', serif;
    font-size: 190%;
}

.information > .subtitle{
    font-family: 'Sura', serif;
    font-size: 150%;
}

.information > p{
    font-family: 'Oxygen', sans-serif;
}

.btn{
    background-color:rgba(255, 136, 0, 0.733);
    border: none;
    border-radius: 5%;
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    padding: 0.8em;
    text-align: center;
}

/********** COMPLEMENT INFORMATION ***********/
.complement-information{
    text-align: justify;
    padding: 0em 3.5em;
}

.complement-information img{
    border: 3px groove rgba(255, 136, 0, 0.733);
    border-radius: 5%;
    height: 200px;
    width: 100%;
}

h4{
    color: rgb(255, 136, 0);
    font-family: 'Oxygen', sans-serif;
    font-size: 130%;
    font-weight: bold;
    padding: 0.8em;
    text-transform: uppercase;
    text-align: center;
}

.text{
    font-family: 'Oxygen', sans-serif;
    max-height: 23em;
    padding: 0.8em;
}

.col-4 > .btn{
    margin: 0 35%;
    padding: 0.5em 2em;
    text-align: center;
}

/********** COMPLEMENT INFORMATION ***********/

footer{
    background-color: rgba(255, 94, 0);
    border: 1px solid rgb(255, 38, 0);
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    height: auto;
    margin: 2em 0 0 0;
    padding: 1em;
    text-align: center;
    width: 100%;
}





    